[submodule "Dependency/prism"]
	path = Dependency/prism
	url = https://github.com/PrismJS/prism.git
[submodule "Dependency/libcmark_gfm"]
	path = Dependency/libcmark_gfm
	url = https://github.com/KristopherGBaker/libcmark_gfm.git
